<?xml version="1.0"?>
<config>
    <modules>
        <Abserve_Settings>
            <version>1.2.3</version>
        </Abserve_Settings>
    </modules>
    <frontend>
        <routers>
            <settings>
                <use>standard</use> 
                <args>
                    <module>Abserve_Settings</module>
                    <frontName>settings</frontName>
                </args>
            </settings>
        </routers>
        <layout>
            <updates>
                <settings>
                    <file>settings.xml</file>
                </settings>
            </updates>
        </layout>        
    </frontend>
    <admin>
        <routers>
           <settings>
                <use>admin</use>
                <args>
                    <module>Abserve_Settings</module>
                    <frontName>footer</frontName> 
                </args>
           </settings>             
         </routers>   
    </admin>
    <global>
        <helpers>
            <settings>
                <class>Abserve_Settings_Helper</class>
            </settings>
        </helpers>
        <blocks>
            <settings>
                <class>Abserve_Settings_Block</class>
            </settings>
        </blocks>
    </global>
    <default> 
        <settings>
            <configuration>
                <brand>Brand_23</brand>
                <tabfirst>Tabfirst_3</tabfirst>
                <tabsecond>Tabsecond_4</tabsecond>
                <tabthird>Tabthird_5</tabthird>
            </configuration>
        </settings>

        <settings>
            <general>
                <copyrights>Copyright@2015.All rights reserved.</copyrights>
                <skype>abservetech</skype>
                <skypeno>+91 452 4366678</skypeno>
                <facebook>abservetech</facebook>
                <twitter>abservetech</twitter>
                <linkedin>abservetech</linkedin>
                <gplus>+Abservetech</gplus>
            </general>
        </settings>

        <settings>
            <contactus>
                <address>Krishnapuram Colony</address>
                <mobileno>+91 9976659085</mobileno>
                <telephoneno>+91 452 4366678</telephoneno>
                <contactmail>abservetech@gmail.com</contactmail>
            </contactus>
        </settings>

        <settings>
            <helpline>
                <helplineno>support@abservetech.com</helplineno>
                <helplineemail>+91 0452 4366678</helplineemail>
            </helpline>
        </settings>
    </default>
     <adminhtml>
        <menu>
            <settings module="settings">
                <title>Shoestore</title>
                <sort_order>100</sort_order>
                <children>
                    <ajaxcart module="ajaxcart">
                        <title> Shoestore Configuration </title>
                        <sort_order>1</sort_order>
                        <action>adminhtml/system_config/edit/section/settings</action>
                    </ajaxcart>
                </children>
            </settings>
        </menu>
    </adminhtml>
</config>